nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
}
nav li a {
  padding: 0 10px;
}
#content {
  border: 1px solid;
}
.active {
  padding-bottom: 1px;
  background: rgb(100, 33, 33);
}
